.bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
  }
  .masthead {
    height: 40vh;
    min-height: 50px;
    background-image: url('../static/img3.png');
    /* background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  .mast-content{
    color: #ffffff;
    display: flex;
    justify-content: right;
    margin-left: 200px;
  }
  *{
    font-family: 'Poppins', sans-serif;
  }
  .piron-guillaume-y5hQCIn1c6o-unsplash {

    width: 1920px;
  
    height: 562px;
  
    object-fit: contain;
    
  }
  form{
    border: solid 1px grey;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  fieldset{
    margin-left: 100px;  
  }
  .submit-home{
    margin-left: 350px;  
  }
  #list{
      height: 95vh;
  }
  .top-nav-link{
    color: white;
    font-size: 10vh;
    padding: 30px;
  }

  .top-nav-link:hover{
    color: grey;
    font-size: 12vh;
  }

  #first{
    padding-top: 20px;
  }
  #sticky-footer {
    background-color: black;
    flex-shrink: none;
    color: white;
    font-size: 30px;
  }
  #footer-bar{
    font-size: 20px;
    padding-bottom: 0px;
}
.footer-list-text{
  color: white;
}

.footer-list-text:hover{
  color: grey;
}
.res-text{
  font-size: 2vh;
}
.typer{
  animation: typing 10s steps(41) forwards, blink-caret .8s;
  animation-iteration-count: 1;
  justify-content: center;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
}

@keyframes blink-caret{
  from, to {border-color:transparent;}
  50% {border-color: #fff;}
}

@keyframes typing{
  0% {width: 0%;}
  30% {width: 100%;}
  /* 80% {width: 100%;}
  90% {width: 100%;}
  100% {width: 100%;} */
}
.blinking{
  display: inline-block;
}
#top-right-user{
  background-color: black;
  border: none;
}
#top-right-user:hover{
 cursor: pointer;
}

.card-group{
  width: 950px;
  border: 1px solid slategray;
  margin: auto;
}

*{
  font-family: 'Poppins', sans-serif;
}
.card{
  padding: 10px;
  margin: 20px;
}
.bt{
  color: white;
  background-color: black;
}

.Risk-checker {
  width: 319px;
  height: 71px;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.form-group{
  margin: 0;
  border: none;
}

form{
  border: none;
}

.bt :hover{
  cursor: pointer;
}
/* 
.bts{
  width: 50%;
 } */

.why{
  width: 722px;

  height: 71px;

  font-family: Poppins;

  font-size: 4vh;

  font-weight: 600;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.52;

  letter-spacing: normal;

  text-align: left;

  color: #000000;
  
  margin-left: 5%;
  
}

.why-yes{
  font-size: 2vh;

  font-family: Poppins;

  font-weight: 600;

  line-height: 1.52;

  letter-spacing: normal;

  color: #000000;fo"
  
  margin-left: 5%;
}

#chatbot-usertext{
  border: none;
}
#chatbot{
  height: 400px;
  width: 600px;
  margin-left: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-newsfeed{
  width:450px;
  height : 150px;
}