{% extends "layout.html" %}
{% block heading %}
View detailed insights and full report
{% endblock heading %} 
{% block content %}
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/24.embed"></iframe>
      </div>
      <div class="carousel-item active">
        <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/20.embed"></iframe>
      </div>
      <div class="carousel-item active">
        <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/26.embed"></iframe>
      </div>
      <div class="carousel-item active">
        <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/18.embed"></iframe>
      </div>
      <div class="carousel-item active">
        <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/11.embed"></iframe>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>

{% endblock content %}
