{% extends "layout.html" %}
{% block heading %}
View detailed insights and full report
{% endblock heading %} 
{% block content %}
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/24.embed"></iframe>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/22.embed"></iframe>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/20.embed"></iframe>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/26.embed"></iframe>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/18.embed"></iframe>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~arjun_gopi/11.embed"></iframe>
{% endblock content %}
