{% extends "layout.html" %}
{% block heading %}
The latest information in cardiovascular medicine
{% endblock heading %} 
{% block content %}
<div class="container" style="max-width: 1500px;">
    <div class="row">
        {% for headline in allheadlines %}
        <div class="card col-sm-5 d-flex align-items-stretch">
            <h3 class="card-header">{{ headline.title }}</h1>
                <h4 class="card-body">By : {{ headline.description }}</h4>
            <a href="{{ headline.link }}" class="card-footer">Read full story</a>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    const masthead = document.querySelector('header');
    masthead.style.display ='none' ;
</script>
{% endblock content %}
